<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="OrderSystemDatabase" connectionString="Data Source=den1.mssql8.gear.host;
         Initial Catalog=chapoo1819sdb07; User=chapoo1819sdb07; Password=Az51A78Vj1_-"/>
  </connectionStrings>
</configuration>

